.container {
  text-align: center;
  height: 100%;
  max-width: 1300px;
  margin: auto;
}

.rootPageHeader {
  font-size: 3.5rem;
  margin: 30px 0 0;
}

.pageHeader {
  margin: 10px 0 0;
}

.headerLink {
  box-shadow: none;
  color: inherit;
}

.headerSection {
  display: flex;
  flex-direction: column;
}

.footerSection {
  margin-top: 20px;
}
