.container {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 20px;
}

.postsContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.newPostsTitle {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newPostsTitle > * {
    margin: 0 5px;
}
